<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>day0113</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  	<!-- 웹어플리케이션을 설정하는데 쓰는 파일! -->
  	
  	<!-- context에 전달할 인자를 넣음. 어플리케이션단위! 셋팅할정보를 넣음. -->
	<context-param>
		<param-name>showFlag</param-name>
		<param-value>true</param-value>
	</context-param> 
	<context-param>
		<description>파일설명</description>
		<param-name>newFlag</param-name>
		<param-value>true</param-value>
	</context-param>
</web-app>