<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>day0121</display-name>
	<!-- 서블릿을 등록 -->
	<servlet>
	<!-- 등록할 서블릿의 이름 A -->
		<servlet-name>Test</servlet-name>
		<servlet-class>day0121.TestController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>writeController</servlet-name>
		<servlet-class>day0121.WriteController</servlet-class>
	</servlet>
	
	
	
	<!-- URI와 서블릿을 맵핑함 -->
	<servlet-mapping>
	<!-- 등록할 서블릿의 이름 A -->
		<servlet-name>Test</servlet-name>
		<!-- /list.jsp가 요청이 오면 test이름으로 맵핑이된다. test로된 서블렛이 실행된다. -->
		<url-pattern>/list.jsp</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>writeController</servlet-name>
		<url-pattern>/write</url-pattern>
	
	</servlet-mapping>
</web-app>